@use "../fonts" as font;
@use "../colors" as color;
@use "../global-vars" as global;

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 5vw;
  width: 100%;
  height: 100%;

  .Title {
    @include font.header-2;
    text-align: center;
  }
}

@media only screen and (max-device-width: 1366px) {
  
}

@media screen and (max-width: 720px) {
  .Title {
    margin: 0;
    align-self: left;
  }

  .Text {
    margin-left: 0;
    align-self: center;
  }
}
