@use "../fonts" as font;
@use "../colors" as color;
@use "../global-vars" as global;

.Title {
  @include font.header-2;
  text-align: center;
  padding: 0 5vw;
}

.Text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 3vw;
  overflow: auto;
}

.Link {
  padding: 0rem 3vw;
}

@media only screen and (max-device-width: 1366px) {
  
}

@media screen and (max-width: 720px) {
  .Title {
    margin: 0;
    align-self: left;
  }

  .Text {
    margin-left: 0;
    align-self: center;
  }
}
