@use "../fonts" as font;
@use "../colors" as color;

.Header {
  position: absolute;
  padding: 0rem 3vw;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;

  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: "logo nav menu";
  column-gap: 2rem;
  align-items: center;

  background-color: transparent;
  z-index: 8;
}

.HeaderLogo {

  grid-area: logo;
  place-content: center;
  text-align: center;

  font-size: font.$title-size;
  font-weight: 900;
  font-style: oblique;
  line-height: 56px;

  label {
    color: color.$primary-color-dark;

    &:hover{
      cursor: pointer;
    }
  }

  span {
    color: color.$secondary-color-dark;
  }
}

.HeaderNav {
    grid-area: nav;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;

    a {
        @include font.nav;
        text-decoration: none;
      }
    
    a:active {  // TODO: underline should stay on active current page
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    ul {
        display: contents;
        list-style-type: none;
    }

    li {
        color: color.$primary-color-dark;
    }

    li:hover {
        color: color.$secondary-color-dark;
    }
}

.RightOptions {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-self: center;
  justify-self: right;
  padding-right: 6rem;
}


@media screen and (max-width: 720px) {
  .Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menu";
  }

  .HeaderNav {
    display: none;
  }
}