@use "../fonts" as font;
@use "../colors" as color;

@mixin bar {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: color.$primary-color-dark;
  box-shadow: 1px 1px black;
}

.MenuButton {
  position: fixed;
  z-index: 10;
  place-self: center;
  cursor: pointer;
  user-select: none;
  right: 3vw;

  span {
      @include bar;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
        @include bar;
        position: absolute;
        content: "";
        transition: all .2s ease-in-out;
      }
    }

    &:hover span, &:hover span:before, &:hover span:after {
      background: color.$secondary-color-dark;
    }
}

.MenuInput {
  display: none;
}

.MenuInput:checked ~ .Menu {
  visibility: visible;
}

.MenuInput:checked ~ .MenuButton {
  &:hover span, span{
    background: transparent;
  }

  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }

    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

.Menu {
  position: fixed;
  visibility: hidden;
  margin: 0;
  padding: 0;
  top: 5rem;
  right: 4rem;
  height: min-content;
  min-width: 12vw;
  z-index: 9;

  &.active {
    visibility: visible;
  }

  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid rgba($color: color.$primary-color-dark, $alpha: 0.8);
    list-style-type: none;
    row-gap: 3rem;
    padding: 3rem 0;
    
    li {
      display: flex;
      height: 100%;
      width: 100%;
      place-content: center;
      border-bottom: 1px solid rgba($color: color.$primary-color-dark, $alpha: 0.8);
      
      &:active {
        .Menu {
          display: none;
        }
      }
      
      a {
        @include font.nav;
      }
    }

    li:hover {
      cursor: pointer;
      
      opacity: 0.95;
      a {
        color: color.$secondary-color-dark;
        transition: color 0.25s linear;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {

}

@media screen and (max-width: 720px) {
  .Menu {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

    ul {
      background: rgba($color: color.$background-color-dark, $alpha: 0.8);
      border: none;
      height: 100%;
      width: 100%;
      li {
        place-items: center;
        border: none;
      }
    }
  }
}