@use "../fonts" as font;
@use "../colors" as color;

.MenuButton {
  place-self: center;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: color.$primary-color-dark;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color: color.$primary-color-dark;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      background: color.$secondary-color-dark;
    }
}

.MenuInput {
  display: none;
}

.MenuInput:checked ~ .Menu {
  visibility: visible;
}

.MenuInput:checked ~ .MenuButton {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

.Menu {
  position: fixed;
  visibility: hidden;
  margin-top: 0;
  padding-left: 0;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 20vw;
  background: color.$background-color-dark;
  opacity: 1;
  z-index: 9;
  border-left: 1px solid hsl(0, 0%, 20%);
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
    
    li {
      align-self: center;
      text-align: center;
      width: 100%;
      padding: 1em 1em;
      border-top: 1px solid color.$primary-color-dark;
      border-bottom: 1px solid color.$primary-color-dark;
      &:hover {
        background-color: color.$neutral-color-dark;
      }
      a {
        @include font.nav;
        color: color.$primary-color-dark;
        text-decoration: none;
        &:hover {
          color: color.$secondary-color-dark;
        }
        &:active {
          .Menu {
            display: none;
          }
        }
      }
    }
  }
}