@use "../fonts" as font;
@use "../colors" as color;

.MenuButton {
  z-index: 10;
  place-self: center;
  cursor: pointer;
  user-select: none;

  span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: color.$primary-color-dark;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color: color.$primary-color-dark;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }

    &:hover span, &:hover span:before, &:hover span:after {
      background: color.$secondary-color-dark;
    }
}

.MenuInput {
  display: none;
}

.MenuInput:checked ~ .Menu {
  visibility: visible;
}

.MenuInput:checked ~ .MenuButton {
  &:hover span, span{
    background: transparent;
  }

  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }

    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

.Menu {
  position: fixed;
  visibility: hidden;
  margin: 0;
  padding: 0;
  top: 0px;
  right: 0px;
  height: 100%;
  min-width: 100%;
  border-left: 2px solid hsl(0, 0%, 20%);
  z-index: 9;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    flex-direction: column;
    place-items: baseline;
    padding: 0;
    height: 100%;
    border-top: 1px solid color.$primary-color-dark;
    border-bottom: 1px solid color.$primary-color-dark;
    list-style-type: none;
    
    li {
      height: 100%;
      width: 100%;
      border-top: 1px solid color.$primary-color-dark;
      border-bottom: 1px solid color.$primary-color-dark;
      background: color.$background-color-dark;
      
      &:active {
        .Menu {
          display: none;
        }
      }
      
      a {
        @include font.nav;
        text-align: center;
        justify-items: center;
      }
    }

    li:hover {
      cursor: pointer;
      background-color: color.$neutral-color-dark;
      opacity: 0.90;
      a {
        color: color.$secondary-color-dark;
      }
    }
  }
}

@media only screen and (max-device-width: 1366px) {

}

@media screen and (max-width: 720px) {
  .Menu {
    width: 100%;
  }
}