@use "../fonts" as font;
@use "../colors" as color;

.Table {
  align-self: center;
  background-color: rgba(color.$background-color, 0.8);
  border: 2px solid color.$primary-color;
  border-radius: 5px;
  height: 50vh;
  width: 70vw;

  th {
    height: 3rem;
    align-items: center;
    justify-content: center;
    width: 10%;
    text-align: center;
  }

  tr {
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

  td {
    border-top: 1px solid color.$primary-color;
    padding: 0 1rem;
  }
}

