@use "../fonts" as font;
@use "../colors" as color;

.Container {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  width: 100%;
  align-items: center;

  label {
    @include font.normal;
    color: color.$primary-color-dark;
  }

  a {
    @include font.small;
    justify-items: flex-start;
  }
}