@use "../fonts" as font;
@use "../colors" as color;
@use "../global-vars" as global;

.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";

  .Content {
    position: relative;
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    row-gap: 2vh;
    padding: max(5rem, 15vh) global.$sides-padding;
  
    .Text {
      display: flex;
      flex-direction: column;
      max-width: 60ch;
  
      p {
        margin: 1rem 0;
      }
    }
  
    .Title {
      margin: 1rem 0;
    }
  
    .Subtitle {
      @include font.header-2;
    }
  
    .Category {
      @include font.category;
      margin: 0;
    }
  
    .Links {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      row-gap: 1rem;
    }
  }
}

@media only screen and (max-device-width: 1366px) {
  .Content {
    background-attachment: scroll;
    background-position: center center;
  }
}

@media screen and (max-width: 720px) {
  .Content {
    background-attachment: scroll;
    background-position: center center;
  }
}
