@use "../../styles/fonts" as font;
@use "../../styles/colors" as color;

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;

  label {
    @include font.small;

    color: color.$secondary-color-dark;
    width: 10%;
  }

  a {
    @include font.small;
  }
}