$primary-color-dark: #FEFCFD;
$secondary-color-dark: hsl(43, 100%, 55%);
$secondary-color-dark-shaded: hsl(43, 100%, 40%);
$accent-color-dark: hsl(195, 100%, 44%);
$accent2-color-dark: hsl(147, 42%, 84%);
$neutral-color-dark: hsl(0, 0%, 25%);
$background-color-dark: hsl(0, 0%, 0%);
$primary-color-light: hsl(0, 0%, 0%);
$secondary-color-light: hsl(7, 100%, 55%);
$background-color-light: hsl(0, 0%, 100%);
