$primary-color-dark: hsl(0, 0%, 100%);
$secondary-color-dark: hsl(43, 100%, 55%);
$secondary-color-dark-shaded: hsl(43, 100%, 40%);
$neutral-color-dark: hsl(0, 0%, 30%);
$background-color-dark: hsl(0, 0%, 0%);
$primary-color-light: hsl(0, 0%, 0%);
$secondary-color-light: hsl(7, 100%, 55%);
$background-color-light: hsl(0, 0%, 100%);
