$primary-color: hsl(330, 50%, 99%);
$secondary-color: hsl(43, 100%, 55%);
$secondary-color-shaded: hsl(43, 100%, 40%);
$accent-color: #4FACF7;
$accent2-color: hsl(147, 42%, 84%);
$neutral-color: hsl(0, 0%, 25%);
$background-color: #000;
$danger-color: #ff341a;
