@use "../styles/fonts" as font;
@use "../styles/colors" as color;

.Container {
  display: flex;
  padding: 0 20vw;
  min-height: 100vh;
  place-items: center;

  .Form {
    @include font.normal;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    row-gap: 2rem;

    .Field {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: 
        "label validation"
        "field field";
      align-items: center;
      min-height: 5rem;

      label {
        grid-area: label;
        width: 100%;
      }
    
      input {
        grid-area: field;
        min-height: 2rem;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border: 2px solid color.$neutral-color-dark;
      }

      textarea {
        grid-area: field;
        min-height: 10rem;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border: 2px solid color.$neutral-color-dark;
      }

      span {
        @include font.validations;
        grid-area: validation;
        color: color.$secondary-color-dark;
      }

    }

    button {
      @include font.small;
      color: color.$primary-color-dark;
      align-items: center;
      justify-items: center;
      width: 10vw;
      min-width: 10rem;
      min-height: 4rem;
      align-self: end;
      text-shadow: 1px 1px 1px black;
      box-shadow: 1px 1px 1px black;
      background-color: rgba($color: #000000, $alpha: 0.7);
      border: 2px solid color.$primary-color-dark;
      border-radius: 2px;

      &:hover {
        color: color.$secondary-color-dark;
        border: 3px solid color.$secondary-color-dark;
        cursor: pointer;
      }
    }
  }
}
