@use "../styles/fonts" as font;
@use "../styles/colors" as color;


.Container {
  display: flex;
  padding: 12rem 20vw;
  place-content: center;
  width: 100%;
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: auto;
}

.Form {
  @include font.normal;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 3rem;

  .Field {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;

    label {

    }
  
    input {
      min-height: 2rem;
      
    }

    textarea {
      min-height: 10rem;
    }
  }

  button {
    @include font.small;
    color: color.$primary-color-dark;
    align-items: center;
    justify-items: center;
    width: 10vw;
    min-width: 10rem;
    min-height: 4rem;
    align-self: end;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border: 3px solid white;
    border-radius: 2px;

    &:hover {
      color: color.$secondary-color-dark;
      border: 3px solid color.$secondary-color-dark;
      cursor: pointer;
    }
  }
}