@use "./fonts"as font;
@use "./colors"as color;

.Container {
    display: flex;
    flex-direction: column;
    place-self: center;

    min-height: 100vh;
    max-width: 100vw;

    z-index: 1;

    /* FIXED BACKGROUND
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    */

    // PARALLAX BACKGROUND https://codepen.io/hexagoncircle/pen/PXVEVZ
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: auto;

    .Background {
        background-color: rgba($color: #000000, $alpha: 0.5);
        min-height: 100vh;
        width: 100%;
        z-index: 2;
        overflow: auto;
    }

    .Arrow {
        position: absolute;
        align-items: center;
    }

    .Title {
        padding-left: 10vw;
    }

    .Category {
        @include font.category;
        padding-left: 10vw;
    }
}