$header-text-size: 5em;
$title-size: 7em;
$content-text-size: 3.5em;
$footer-text-size: 3em;
$copyright-text-size: 2em;

$title-font-weight: 300;
$text-font-weight: 300;
$navbutton-font-weight: 300;
$footer-font-weight: 500;

@mixin header-1 {
  font-size: $title-size;
  font-weight: $title-font-weight;
}

@mixin header-2 {
  font-size: $header-text-size;
  font-weight: $title-font-weight;
}

@mixin normal {
  font-size: $content-text-size;
  font-weight: $text-font-weight;
}