
@import "./colors.scss";

html,
body {
  padding: 0;
  margin: 0;
	color: $primary-color-dark;
	background-color: $background-color-dark;
  font-family:  "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 2px black; 
	overflow: overlay;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
  color: $primary-color-dark;
  text-decoration: none;
}

a:hover {
  color: $secondary-color-dark;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
	scrollbar-color: $secondary-color-dark transparent;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
  right: 0px;
  position:absolute;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $secondary-color-dark;    /* color of the scroll thumb */
  border-radius: 3px;       /* roundness of the scroll thumb */
  border: 2px solid $secondary-color-dark;  /* creates padding around scroll thumb */
}
