.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}

.Header {
  grid-area: header;
}

.ContentDisplay {
  grid-area: content;
  min-height: 100vh;
  align-self: center;
}

.Footer {
  grid-area: footer;
}