.container {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
    "header"
    "content"
    "footer"
  ;
}

.Header {
  grid-area: header;
}

.Content {
  grid-area: content;
}

.Footer {
  grid-area: footer;
}