@import "../styles/colors";
@import "../styles/fontSizes";

.Content {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding-top: 12rem;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 14rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: fit-content;
    overflow:auto;
}

.Title {
    margin-left: 4rem;
    font-size: $title-size;
    font-weight: 300;
}

.Info p{
    font-size: $content-text-size;
    font-weight: 300;
    text-align: left;
}