@import "../styles/colors";
@import "../styles/fontSizes";

.HeaderButton {
  font-size: $header-text-size;
  font-weight: 300;
  text-decoration: none;
}

.HeaderButton:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}